
<div class="container" ng-controller="MenuCtrl">
    <div id="navmenu">
        <ul class="nav navbar-nav" ng-repeat="menu in menus">
            <li ng-if="menu.type==='link'"><a href='' ui-sref="{{menu.link}}">{{menu.title}}</a></li>
            <li ng-if="menu.type==='dropdown'" class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">
                    {{menu.title}}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li ng-repeat="submenu in menu.menus">
                        <a href="" ui-sref="{{submenu.link}}">{{submenu.title}}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
